p {
  margin: 0;
}

.section {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.section-wrapper {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 20px;
  justify-content: center;
  width: 785px;
  border-radius: 8px;
}

.productDetail {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  color: black;
}

.productDetail-description {
  margin-bottom: 20px;
  text-align: left;
}

.custom-link-wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.custom-link-button {
  font-size: 20px;
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px 40px;
  background-color: white;
}

.productDetail-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.productDetail-actions__selector {
  margin-bottom: 20px;
}

.productDetail-actions__selector select {
  background-color: #027373;
  border: #027373;
  border-radius: 8px;
  padding: 5px;
}

.productDetail-actions__selector select:hover {
  background-color: #04bfbf;
}

.productDetail-actions__selector p {
  padding: 5px;
}

.button-increase {
  background-color: #027373;
  padding: 8px 15px;
}

.button-increase:hover {
  background-color: #04bfbf;
}

.button-decrease {
  background-color: #02737386;
  padding: 8px 15px;
}

.button-decrease:hover {
  background-color: #04bfbf71;
}

.button-quantity {
  margin: 0 15px;
}

.button-addCart {
  padding: 0.6em 1.6em;
  margin-top: 40px;
  background-color: #bf8173;
}

.button-addCart:hover {
  background-color: #027373;
}
