.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 20px solid #242424;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  color: #1a1a1a;
  background-color: white;
}

h1 {
  margin: 20px;
}

.cart-display {
  display: flex;
  align-items: center;
  margin: 20px;
}
