.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 20px solid #04bfbf;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /*   color: #bf8173; */
  background-color: white;
}

h1 {
  margin: 20px;
}

.cart-display {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 20px;
  border: 4px solid #bf8173;
  border-radius: 8px;
  color: #bf8173;
}

.cart-display:hover {
  border: 4px solid #bf817396;
}

.cart-display__counter {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0 3px;
}

.cart-display__clear {
  padding: 5px;
  margin: 0 20px 0 10px;
}
