.item-container {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  width: 235px;
  padding: 10px;
}

.item-container__image-wrapp {
  margin: 10px 0;
}

.item-settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0;
}

.item-settings__setting {
  list-style: none;
}
